*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main{
  height: auto;
  width: 100%;
  background-color: coral;
}

.main h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: sans-serif;
  color: darkcyan;
  text-decoration: underline;
  font-size: 16px;
}


.center{
  height: auto;
  width: 100%;
  background-color: cyan;
  
}

.center table{
  width: 100%;
}

.center td{
  text-align: center;
  border: 1px solid silver;
  padding-bottom: 5px;
  color: black;

}




.center th{
  padding-bottom: 5px;
  color: orangered;
  border: 1px solid silver;
}



.menu img{
  height: 100px;
  width: 150px;
}

.menu{
  width: 100%;
  line-height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.menu .text{
  text-decoration: none;
  color: cornflowerblue;
  font-size: 20px;
}

.menu .active_class{
  color: magenta;
  outline: 0;
}

.rajya{
  height: 100vh;
  width: 100%;
  background-color: violet;
padding-top: 30px;
  }

  .rajya p{
    text-align: center;
    color: black;
    padding-bottom:10px;
  }

  .rajya h1{
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }

.data{
  height: 50px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  background-color: silver;
  border: 2px solid gray;
  display: block;
  margin: auto;
  margin-bottom: 30px;

}



.condition{
  height: 100vh;
  width: 100%;
  background-color: mediumturquoise;
  padding-top: 20px;
  }

  .condition h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: magenta;
    padding-bottom: 20px;
  }

  .condition p{
    text-align: center;
    color: orangered;
    padding-bottom: 30px;
  }

  .condition h2{
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    font-size: 20px;
    color: midnightblue;
  }
